@import "tailwindcss";
@plugin "tailwindcss-animate";

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  touch-action: pan-y;
  user-select: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

html {
  background-color: black;
  color: white;
}

button,
a {
  cursor: pointer;
}

@theme {
  --color-cza-red: #d62828;
  --color-cza-green: #37f713;
  --color-cza-purple: #7b5cff;
  --color-cza-yellow: #ffae03;
  --color-cza-lime: #b2ff65;
}
